/** css reset **/
body, header, nav, main, footer, img, h1, ul, li, h2 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

/** hero text and nav bar **/
nav {
  color: #fff;
  background: #1f2937;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  padding-left:100px;
  padding-right: 300px;
}

ul {
  list-style: none;
}

li {
  padding-right: 50px;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
}

.herotxt {
  margin-right: 50px;
}

/** Section 1  **/
#s1 {
  color: #fff;
  background: #1f2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img1 {
  height: 200px;
  width: 400px
}

button {
  display: flex;
  background-color: #3882F6;
  padding: 12px;
  padding-top: 8px;
  color: white;
  height: 30px;
  width: auto;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 6px;
  border-width: 4px;
}

/** Section 2 **/


.info{
  border: 5px solid #3882f6;
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
}


.infoh{
  font-size: 36px;
  color: #1f2937;
  font-style: extra-bold;
  text-align: center;
  padding: 30px;
}

.containerimg {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
}

.infotxt {

}

/** section 3 **/

.s3 {
  background: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-style: light-italic;
  color: #1f2937;
}

.quoted {
  font-size: 36px;
  color: #1f2937;
}

/** section 4 **/

section {
  padding: 75px;
}

.s4 {
  background: #3882f6;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

/** footer **/
footer {
  color: #fff;
  background: #1f2937;
  text-align: center;
}