/** css reset **/
body, header, nav, main, footer, img, h1, ul, li, h2 {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/** hero text and nav bar **/
nav {
  color: #fff;
  background: #1f2937;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.herotxt {
  margin-right: 50px;
}

/** Section 2  **/
#s1 {
  color: #fff;
  background: #1f2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img1 {
  height: 200px;
  width: 400px
}

button {
    display: flex;
    background-color: #3882F6;
    padding: 12px;
    padding-top: 8px;
    color: white;
    height: 30px;
    width: auto;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 6px;
    border-width: 4px;
}

/** Section 3 **/

